#calculatorBox {
    width: 500px;
    height: 800px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

#display {
    flex: 5 1 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 20px 60px;
}

.displayWindow,
.smallDisplayWindow {
    display: flex;
    align-items: center;
}

.displayWindow {
    flex: 3 1 auto;
}

.smallDisplayWindow {
    flex: 1 1 auto;
}

.row {
    flex: 1 1 133px;
    display: flex;
}

.button {
    color: black;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerButton,
.topButton {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero,
.clear {
    flex: 2 1 auto;
}
