* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculatorBox {
    width: 500px;
    height: 800px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

#main {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    flex: 5 1 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 20px 60px;
}

.displayWindow,
.smallDisplayWindow {
    display: flex;
    align-items: center;
}

.displayWindow {
    flex: 3 1 auto;
}

.smallDisplayWindow {
    flex: 1 1 auto;
}

.row {
    flex: 1 1 80px;
    display: flex;
    align-items: center;
}

button {
    font-size: 44px;
    width: 80px;
    height: 60px;
}

.windowSplit {
    flex: 1 1 400px;
}

.small {
    display: flex;
    flex: 1 1 400px;
    justify-content: space-around;
}

.large {
    display: flex;
    justify-content: center;
}

.largeButton {
    width: 205px;
}

.button {
    color: black;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .lowerButton,
.topButton {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.zero,
.clear {
    flex: 2 1 auto;
}

.displayText {
    font-size: 64px;
}

.smallDisplayText {
    font-size: 32px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerWindow {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: aqua;
}

.footerText {
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(20, 20, 20);
    height: 5vh;
    display: flex;
    align-items: center;
}
.footerText:hover {
    font-size: 24px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
